[package]
name = "afterburn"
repository = "https://github.com/coreos/afterburn"
license = "Apache-2.0"
edition = "2018"
authors = [ "Stephen Demos <stephen.demos@coreos.com>",
            "Luca Bruno <lucab@debian.org>" ]
description = "A simple cloud provider agent"
version = "4.1.1-alpha.0"

[[bin]]
name = "afterburn"
path = "src/main.rs"

[profile.release]
lto = true

[dependencies]
base64 = "^0.10.1"
byteorder = "1.3"
clap = "2.33"
error-chain = { version = "0.12", default-features = false }
hostname = "0.1"
ipnetwork = "^0.14.0"
mime = "0.3"
nix = "^0.14.0"
openssh-keys = "^0.4.1"
openssl = "^0.10.23"
pnet_base = "^0.22.0"
pnet_datalink = "^0.22.0"
reqwest = "^0.9.17"
serde = "1.0"
serde-xml-rs = "0.3"
serde_derive = "1.0"
serde_json = "1.0"
slog-async = "2.1"
slog-scope = "~4.1"
slog-term = "2.2"
tempdir = "0.3"
tempfile = "^3.0.8"
update-ssh-keys = { version = "^0.5.0", optional = true }
users = "^0.9.1"

[features]
cl-legacy = ["update-ssh-keys"]

[dependencies.slog]
version = "2.0"
features = ["max_level_trace", "release_max_level_info"]

[dev-dependencies]
mockito = "^0.17.1"

[package.metadata.release]
sign-commit = true
upload-doc = false
disable-push = true
disable-publish = true
pre-release-commit-message = "cargo: Afterburn release {{version}}"
pro-release-commit-message = "cargo: version bump to {{version}}"
tag-message = "Afterburn v{{version}}"
tag-prefix = "v"
