[package]
name = "afterburn"
repository = "https://github.com/coreos/afterburn"
license = "Apache-2.0"
edition = "2018"
authors = [ "Stephen Demos <stephen.demos@coreos.com>",
            "Luca Bruno <lucab@debian.org>" ]
description = "A simple cloud provider agent"
version = "4.3.1-alpha.0"

[package.metadata.release]
sign-commit = true
disable-push = true
disable-publish = true
pre-release-commit-message = "cargo: Afterburn release {{version}}"
post-release-commit-message = "cargo: development version bump"
tag-message = "Afterburn v{{version}}"

[[bin]]
name = "afterburn"
path = "src/main.rs"

[profile.release]
lto = true

[dependencies]
base64 = "^0.11.0"
byteorder = "1.3"
clap = "2.33"
error-chain = { version = "0.12", default-features = false }
hostname = "0.3"
ipnetwork = "^0.16.0"
maplit = "^1.0.2"
mime = "0.3"
nix = "^0.16.1"
openssh-keys = "^0.4.1"
openssl = "^0.10.26"
pnet_base = "^0.25.0"
pnet_datalink = "^0.25.0"
reqwest = { version = "^0.10.1", features = [ "blocking" ] }
serde =  { version = "1.0", features = [ "derive" ] }
serde-xml-rs = "0.3"
serde_derive = "1.0"
serde_json = "1.0"
slog-async = "2.1"
slog-scope = "~4.3"
slog-term = "2.4"
tempdir = "0.3"
tempfile = "^3.1.0"
update-ssh-keys = { version = "^0.5.0", optional = true }
users = "^0.9.1"

[dependencies.slog]
version = "2.5"
features = ["max_level_trace", "release_max_level_info"]

[features]
cl-legacy = ["update-ssh-keys"]

[dev-dependencies]
maplit = "^1.0"
mockito = "^0.22.0"
