[package]
name = "coreos-metadata"
repository = "https://github.com/coreos/coreos-metadata"
license = "Apache-2.0"
authors = [ "Stephen Demos <stephen.demos@coreos.com>",
            "Luca Bruno <lucab@debian.org>" ]
description = "A simple cloud-provider metadata agent"
version = "3.0.3-alpha.0"

[[bin]]
name = "coreos-metadata"
path = "src/main.rs"

[profile.release]
lto = true

[dependencies]
base64 = "^0.10.1"
byteorder = "1.3"
clap = "2.26"
error-chain = { version = "0.12", default-features = false }
hostname = "0.1"
ipnetwork = "^0.13.1"
mime = "0.3"
nix = "^0.13.0"
openssh-keys = "^0.4.1"
openssl = "^0.10.19"
pnet = "0.21"
reqwest = "^0.9.10"
serde = "1.0"
serde-xml-rs = "0.2"
serde_derive = "1.0"
serde_json = "1.0"
slog-async = "2.1"
slog-scope = "~4.0"
slog-term = "2.2"
tempdir = "0.3"
update-ssh-keys = "^0.4.0"
users = "^0.8.1"

[dependencies.slog]
version = "2.0"
features = ["max_level_trace", "release_max_level_info"]

[dev-dependencies]
mockito = "^0.15.1"

[package.metadata.release]
sign-commit = true
upload-doc = false
disable-push = true
disable-publish = true
pre-release-commit-message = "cargo: coreos-metadata release {{version}}"
pro-release-commit-message = "cargo: version bump to {{version}}"
tag-message = "coreos-metadata v{{version}}"
tag-prefix = "v"
