[package]
name = "coreos-metadata"
version = "0.1.0"
authors = ["Stephen Demos <stephen.demos@coreos.com>"]

[dependencies]
clap = "*"
users = "*"
slog-term = "*"
slog-async = "*"
slog-scope = "*"
# use an old version of hyper
# because the new ones are weird
hyper = "0.10"
mime = "0.3"
serde = "1.0"
serde_derive = "1.0"
serde-xml-rs = "0.2"
openssl = "0.9.17"
base64 = "0.6"
byteorder = "1.1"
pnet = "0.19"

[dependencies.slog]
version = "*"
features = ["max_level_trace"]
