# Note this unit is normally not enabled by default. It is instead pulled in as
# needed by dependent services.
[Unit]
Description=Afterburn (Metadata)

[Service]
Type=oneshot
Environment=AFTERBURN_OPT_PROVIDER=--cmdline
ExecStart=/usr/bin/afterburn ${AFTERBURN_OPT_PROVIDER} --attributes=/run/metadata/afterburn

[Install]
RequiredBy=metadata.target
