[Unit]
Description=Afterburn (Check In)
Documentation=https://coreos.github.io/afterburn/
ConditionKernelCommandLine=|ignition.platform.id=azure
ConditionKernelCommandLine=|ignition.platform.id=azurestack
After=network.target
After=multi-user.target boot-complete.target

[Service]
Environment=AFTERBURN_OPT_PROVIDER=--cmdline
ExecStart=/usr/bin/afterburn ${AFTERBURN_OPT_PROVIDER} --check-in
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
