[Unit]
Description=Afterburn (Firstboot Check In)
ConditionKernelCommandLine=|ignition.platform.id=packet
ConditionFirstBoot=yes
After=network.target
After=boot-complete.target

[Service]
ExecStart=/usr/bin/afterburn --cmdline --check-in
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
