[Unit]
Description=Afterburn (Firstboot Check In)
ConditionKernelCommandLine=|ignition.platform.id=packet
ConditionFirstBoot=yes
After=network.target
After=boot-complete.target

[Service]
Environment=AFTERBURN_OPT_PROVIDER=--cmdline
ExecStart=/usr/bin/afterburn ${AFTERBURN_OPT_PROVIDER} --check-in
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
