# Note this unit is normally not enabled by default. It is instead pulled in as
# needed by dependent services.
[Unit]
Description=Afterburn (Metadata)
Documentation=https://github.com/coreos/afterburn

[Service]
Type=oneshot
Environment=AFTERBURN_OPT_PROVIDER=--cmdline
ExecStart=/usr/bin/afterburn ${AFTERBURN_OPT_PROVIDER} --attributes=/run/metadata/afterburn
RemainAfterExit=yes

[Install]
RequiredBy=metadata.target
